.text-xxxl {
    font-size: 7.2rem;
  }
  .text-xxl {
    font-size: 4rem;
  }
  .text-xl {
    font-size: 3.2rem;
  }
  .text-l {
    font-size: 1.8rem;
  }
  .text-default {
    font-size: 1.5rem;
  }
  .text-small {
    font-size: 1.3rem;
  }

