@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

:root {
    background-color: tomato;
    font-size: 62.5%;
    color: white;
    font-family: 'Raleway', sans-serif;
    
}
html {
    box-sizing: border-box;
}

.text-xxxl {
    font-size: 2.2rem;
  }
  .text-xxl {
    font-size: 1.8rem;
  }
  .text-xl {
    font-size: 1.2rem;
  }
  .text-l {
    font-size: 1rem;
  }
  .text-default {
    font-size: 1.5rem;
  }
  .text-small {
    font-size: 0.5rem;
  }

body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.btn {
    border: none;
    border-radius: 10px;
    width: 8rem;
    font-weight: bold;
    cursor: pointer;
}

.inp{
    border: none;
    border-radius: 5px;
    text-decoration: none;
}



header { 
    background-color: #6B6C6F;
    padding: 5rem;
    text-align: center;
}

main {
    background-color: #6B6C6F;
    width: 80%;
    margin: 0 auto;
}

.menuA単adir {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10rem;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid black;
            padding: 2rem;
        }
        .menuA単adir__titulo{
            width: 30%;
            display: flex;
            justify-content: left;
                input{
                    margin-left: 4rem;
                }
        }
        .menuA単adir__descripcion{
            width: 100%;
            display: flex;
            justify-content: left; 
                input{
                    width: 77%;
                    margin-left: 4rem;
                }
        }
        .menuA単adir__btn{
            display: flex;
            justify-content: center;
            width: 15%;
        }
        
}

.menuTable {
    table{
        width: 100%;
    }
}

th, td {
    padding: 1.5rem;
    text-align: left;
}
